$bgColor: #b8c79f;
$innerBgColor: #798a5d;
$borderColor: #fff;
$textColor: #253012;
$inputBgColor: #cfdeb6;

.contact {
    &__container {
        background-color: $bgColor;
        display: flex;
        color: $borderColor;
    }

    &__inner-container {
        width: 75%;
        background-color: $bgColor;
        margin: 10% auto
    }

    &__text-container {
        background-color: $innerBgColor;
        padding: 10%;
    }

    &__stay-connected {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    &__icon-container {
        width: 150px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 20px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 7px;
    }

    &__icon-not-email {
        background-color: $borderColor;
    }

    &__message {
        margin-bottom: 20px;
    }

    &__form-container {
        min-height: 300px;
    }

    &__input {
        width: 100%;
        border: $borderColor 1px solid;
        margin-bottom: 5px;
        background-color: $inputBgColor;
        padding: 8px 12px;
        color: $textColor;
        outline: none;
        border-radius: 5px;
    }

    &__text-area {
        width: 100%;
        background-color: $inputBgColor;
        border: $borderColor 1px solid;
        padding: 8px 12px;
        color: $textColor;
        outline: none;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    &__warning {
        font-size: 10px;
        margin-bottom: 2px;
        height: 13px;
    }

    &__button {
        width: 100%;
        border-radius: 5px;
        background-color: $textColor;
        color: $borderColor;
        height: 35px;
    }

    &__button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__message-sent,
    &__message-error {
        height: 300px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__loader {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        &__img {
            width: 70%;
        }
    }
}

// desktop view
@media screen and (min-width: 768px) {
    .contact {

        &__stay-connected {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &__container {
            font-size: 20px;
        }

        &__icon {
            width: 40px;
            height: 40px;
            cursor: auto;
        }

        &__icon-not-email {
            cursor: pointer;
        }

        &__icon-container {
            width: 200px;
        }

        &__input,
        &__text-area,
        &__button {
            font-size: 18px;
        }

        &__button {
            font-weight: 500;
        }

        &__warning {
            font-size: 15px;
            margin-bottom: 2px;
            height: 18px;
        }

        &__loader {
            &__img {
                width: 30%;
            }
        }

    }
}