<div class="about__container">
    <div class="about__bg">
        <div class="about__details-container">
            <div class="about__image-container">
                <div class="about__image-inner-container">
                    <img class="about__image" src="../../../assets/images/prof.jpg" alt="Krishnaveni">
                </div>
                <div class="about__social">
                    <a href="#">
                        <img class="about__social__icons" src="../../../assets/images/gmail.svg" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/krishnavenips/" target="_blank">
                        <img class="about__social__icons" src="../../../assets/images/linkedin.svg" alt="">
                    </a>
                    <a href="https://github.com/curly-talez" target="_blank">
                        <img class="about__social__icons" src="../../../assets/images/github.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="about__text-container">
                <div class="about__hello">Hello,</div>
                <div class="about__content"> I'm Krishnaveni Sunilkumar.</div>
                <div class="about__content"> I am a Web Developer, living in Kerala.
                    Currently I work with some awsome folks at
                    <a href="https://www.payoda.com/" target="_blank"><b>PAYODA</b></a>
                </div>
                <button (click)="downloadPdf()" class="about__button">Download My CV</button>
            </div>
        </div>
    </div>
</div>