<section class="intro">
  <div class="container">
    <h1>Work Experience</h1>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div>
        <time>January, 2022</time>
        <p>Software Engineer 1, Payoda Technologies</p>
        <p>
          Major Technologies: Angular 12, TypeScript, JavaScript, Jasmine,
          Karma, Cypress, SCSS, HTML5
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>September, 2021</time>
        <p>Software Engineer, QBurst Technologies</p>
        <p>
          Major Technologies: Angular 9, Angular JS, TypeScript, JavaScript,
          Jasmine, Karma, SCSS, HTML5,SEO, Puppeteer, Node JS, Express
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>September, 2018</time>
        <p>Software Engineer, QBurst Technologies</p>
        <p>
          Major Technologies: Angular 10, TypeScript, JavaScript, Jasmine,
          Karma, SCSS, HTML5, PWA, Selenium, React JS
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>June, 2018</time>
        <p>Software Engineer Intern, QBurst Technologies</p>
        <p>Major Technologies: JavaScript, React, HTML5, CSS3, Angular JS</p>
      </div>
    </li>
  </ul>
</section>
